html{
	margin:0px;
	font-size: 16px;
	font-size:100%;
	
}
body{
	margin:0px;
	/*background-color: rgb(223, 229, 233);*/

	
}
/* header */
#header{
	width: 100%;
	height: 4.5rem;
	background-color: black;
}
#header-content{
	width: 1200px;
	height: 4.5rem;
	margin: auto;
	background-color: black;
}
#logo-title{
	height: 4.5rem;
	float: left; 
}
#logo{
	float: left;
	line-height: 4.5rem;
}

#sys-desc{
	color: #FFFFCC;
	line-height: 4.5rem;
	
}
#sys-desc span{
	font-size: 1.2rem;
	font-family: "SimHei", "STSong";	
	font-weight: 900;
}
/*  search  */
#search-main{
	background-color: #4694D1;
	width: 100%;
	height: 17rem;
	
}
#search{
	height: auto;
	width: 55rem;
	margin: auto;
  	margin-top: -10.5rem;
  	
}
#input1{
	height: 3.00rem;
	width: 44rem;
	font-size: 1.0rem;
	
}
#button1{
	height: 3.00rem;
	width: 5.625rem;
	background-color: rgb(91, 192, 222);
	color: white;
	font-family: 'heiti-normal';
	font-size: 1.4rem;
}
.glyphicon-search::before{/*为了使搜索框前面的图标去掉*/
	content: "";
}
/*  main  */
#main{
	width: 100%;
	height: auto;
	line-height: 6rem;

}
#alert-container{
	width: 70% !important;
	margin: auto;

}
.alert-col{
	text-align: center;
	/*border-bottom: solid 0.2rem rgb(223, 229, 233);*/
	border-bottom: solid 0.2rem rgb(223, 229, 233);

}
.alert-title{
	width:13rem;
	margin: auto;
	height: 5rem;
	color: #52646c;
	font-size: 1.1rem;
	font-weight: 600;
}
.alert-title-data{
	font-size: 1.25rem;
}
/*文库.百科.主页.学术总的部分*/
#m-ct1 {
	width: 95% !important;
	margin: auto;
	margin-top: 5rem;
	height:auto;
}
.col-lg-1-5 {
	width: 20%;
	float: left;

}
.col-xs-1-5,.col-sm-1-5,.col-md-1-5,.col-lg-1-5 {
	min-height: 0.1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;

}
@media (min-width: 768px) {
.col-sm-1-5 {
	width: 20%;
	float: left;
}
}
@media (min-width: 992px) {
.col-md-1-5 {
	width: 20%;
	float: left;
}
}
@media (min-width: 1200px) {
.col-lg-1-5 {
	width: 20%;
	float: left;
}
}

.data-content{
    text-align: center;
    height: auto;
	padding: 0rem;
	margin: 0rem;


}
#m-ct1-r1-co5{

}


.spe-content{
	width: 100%;
	margin: 0rem;
	padding: 1rem;
	padding-bottom: 0rem;

}

/*知识文库*/
#m-ct1-r1-co1{


}
#m-ct1-r1-co2{



}
.cls-wenku-col{

	
}
#wenku-co1{
	

}
#wenku-co2{
	

}
.con-table{
	font-size: 1rem;
	text-align: center;
	border-bottom: rgb(221, 221, 221) 1px solid;
	color: rgb(163, 163, 163);
	font-weight: 900;
}
.wenku-td-right{
	color: #ff9466;
}

/*学术*/
#m-ct1-r1-co2{
	
	
}
#m-ct1-r1-co3{
	
	
}
#m-ct1-r1-co4{
	margin-right:-1rem;
	border: none;
}
.icon-desc{
	margin-top: -1.23rem;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:9.375rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(52, 147, 213);
}

.heiti-normal1{/*字体声明*/
    /*font-family:"heiti-normal" !important;*/
    font-size:1.875rem;font-style:normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(52, 147, 213);
}
.anwang-icon{
	font-size: 9rem;
}
.ul1{

}
.ul1-li{
	color:rgb(163, 163, 163);

	text-align: left;
}

/*百科*/
.baike-content-row{
	margin-bottom: 1rem;
}
.inner{
	text-align: center;
	border-bottom: 0.3rem rgb(163, 163, 163) solid;
	width: auto;
	padding-bottom: 0.4rem;
}
.timer-number {
    font-size: 1.5rem;
    font-weight: 500;
	text-align: center;
    color: rgb(163, 163, 163);
}
.timer-text {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: rgb(163, 163, 163);
	margin-top: 0.3rem;
}
.data-span{/*数据现实气泡的样式*/
	font-size: 0.8rem;
	letter-spacing: 0.15rem;

}

/*表格展示*/
.chart-display{
	width: 100%;
	height: 20rem;

}

/*popover 自定义宽度*/
.popover{
	max-width: 100rem;
	max-height: 100rem;
	width: 40.5rem;
	height: 17.5rem;
}

/*loadingMessageloadingMessageloadingMessageloadingMessage*/
#loadingMessage{
	position: absolute;
	left: 45%;
	top: 30%;
}





