body{
	font-family: Arial, "Microsoft YaHei", 微软雅黑;
}
#header-zero{
	background-color:#565656;
	width: 100%;
	height: 32px;
}
#header{
	width: 100%;
	height: 100px;
	background-color: #f8fafc;
	padding-top: 10px;
}
#header-main{
	width: 75%;
	margin: auto;

}
#header-logo{
	/*background-color: navy;*/

}
#header-form{
	/*background-color: #cccccc;*/
	padding-top: 10px;

}
#form-select{
	height: 20px;
	line-height: 20px;
	padding-left: 15px;

}
.tab{
	color: #0000cc;
	font-size: 14px;
	cursor: pointer;
	margin-right:5px;
	padding: 5px  3px;
}
.selected{
	background: #7b7b7b;
	color: #fff;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#form-bd{

}
#input1{
	width: 500px;
	border-radius: 0px;
}
#button1{
	border-radius: 0px;
	background-color: rgb(91, 192, 222);
	/*background-color: rgb(246, 171, 50);*/
	color: white;
	font-weight: 900;
}
#form-option{
	border-radius: 0px;
}
#form-option option{
	border-radius: 0px;
}
#logo-img{
	height: 80px;
}
/*content－－－－－－－－－－－－－－－－－*/
#content{
	width: 100%;
}
#content-main{
	width: 75%;
	margin: auto;

}
/*main-left-----------------------*/
#main-left{
    /*height: 200px;*/
    padding: 0px;
    border: 0px;
    margin: 0px;


}
.con_blank{
    width: 100%;
    height:20px;
}
.condition-panel{
    border-radius: 0px;
    border: 0px;
    /*box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px 1px;*/
}
.condition-heading{
    border-radius: 0px;
    font-size: 13px;

    color: #222;

}
.panel-info>.panel-heading{/*条件查询的名称*/
    background-color: #eaedf1;
    border-color: #eaedf1;
    color: rgb(34, 34, 34);

}
.condition-ul{

}
.condition-li{
    height: 40px;
}
.condition-li:hover{
    background-color: rgba(229, 229, 229, 0.3);
}
.con-li-a{
    text-decoration: none;
    float: left;
    color: #444851;
    font-size: 12px;
}
.con-li-span{
    font-size: 12px;
    float: right;

}
/*main-left结束－－－－－－－－－－－－－－－－－－－－－－－*/
/*main-middle 开始－－－－－－－－－－－－－－－－－－－－－－－*/
#main-middle{
	padding-right: 0px;
    margin: 0px;
}
#middle-up{
	background-color: rgb(244, 246, 248);
	border-bottom: rgb(228, 231, 234) 1px solid;
	color: #333;
	width: 100%;
	height: 39px;
	padding-left: 20px;
	padding-right: 20px;
}
#search-review{
	line-height: 39px;
	color: #646f7a;
	font-size: 12px;
}
#so-so-fun{
	float: right;
}
#search-so{
	color: #646f7a;
	font-size: 12px;
	line-height: 39px;
	padding: 0px;
}
#search-so{

}
#sort-function{
	float: right;
	color: #646f7a;
	font-size: 12px;
	line-height: 39px;
	border-radius: 0px;

}
#drop-button{
	height: 30px;
	font-size: 12px;
	line-height: 18px;
	border-radius: 0px;
	background-color:rgb(237, 238, 240);
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(227, 229, 232) 100%);
	border: solid 1px rgb(185, 185, 186);

}
#dropdown-menu{
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0px;
	min-width:25px;
	margin-top: -5px;
	text-align: left;
	border-radius: 0px;
	width: 80px;
}
#dropdown-menu li {
	padding: 0px;
	display: block;
}
#dropdown-menu li a{
	color: rgb(51, 51, 51);
	display: block;
	font-size: 12px;
	display: block;
}
#dropdown-menu li a:hover{
	background-color: rgb(91, 192, 222);
	color: #ffffff;
}



/*查询结果修订*/
.sr-content{
	margin-top: 10px;
}
.sr-title{
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	height: 35px;
	line-height: 35px;

}
.sr-title-a{
	color: rgb(0, 92, 217);
	text-decoration: underline;

}
.sr-title-a em{
	color: rgb(211, 1, 1);
	font-style: normal;
}

.sr-info{
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	height: 20px;
	line-height: 20px;

}
.sr-info span{
	color: #666;

}
.sr-info span a{
	color: #666;
	text-decoration: none;
}
.sr-abstract{
	color:rgb(51, 51, 51);
	font-size: 13px;
	line-height: 20px;

}
.sr-abstract em{
	color: rgb(211, 1, 1);
	font-style: normal;
}
.sc_allversion{
	height: 20px;
	line-height: 20px;
	font-size: 13px;
}
.sr-gray{
	color: rgb(102, 102, 102);

}
.v_source{
	color: rgb(0, 92, 217);
	text-decoration: none;
}
/*右侧开始－－－－－－－－－－－－－－－－－－*/

#main-right{
    /*border-left: rgb(225, 225, 225) 1px solid;*/
    padding: 0px;
	padding-left: 20px;
}
#rel-crap{
   /* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px 1px;*/
    padding: 0px;
	margin-top: 20px;
}
#rel{
    width: 100%;
    padding: 0px;
}
.rel-title{
    background-color: #eaedf1;
    border: solid 1px #eaedf1;
    height: 40px;
    text-align: left;

    /*background-color: rgba(40, 118, 215, 0.6);*/


}
.rel-title span{
    line-height: 40px;
    font-size: 13px;

    color: #222;
}
.rel-content{
    width: 100%;
    height: 200px;
    padding: 0px;
    border: solid 1px #eaedf1;
}
/*  search  */
/*#######################################################右边卡片开始###########################################*/
#card-top-blank{
    width: 100%;
    height:80px;
}
#card{
    padding: 10px;
    width: 100%;
    border:1px solid rgb(233, 233, 233);
    border-bottom: 1px solid #cccccc;
	display: none;
    /*box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px 1px;*/

}

#card-close{
    width: 100%;
    height: 40px;
    text-align: right;
}

#close-icon{
    font-family:"iconfont" !important;
    font-size:35px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #cccccc;
    cursor: pointer;

}
#card-img{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
#op-icon{
    font-family:"iconfont" !important;
    font-size:80px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #cccccc;
    color: #2e8ded;
}
#card-title{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
#card-b-desc{
    margin-top: 10px;
	font-size: 10px;
	text-align: center;
	color: #cc0c00;
}
.org-tips{
	color: #663366;
}
.org-context{
	color: #cc0c00;
}
#card-key{
	font-size: 10px;
}
#org-keyDiscipline{

}
#card-desc{
    margin-top: 10px;
}
#card-p{
    color: rgb(0, 0, 0);
    font-size: 13px;
    line-height: 21px;

}

#card-bottom-blank{
    width: 100%;
    height: 10px;
}
