#main{
	width: 100%;

}
#container{


}
#main-left{


}
#main-right{
	padding: 10px;

}
#demo1{
	width: 100%;
	height: 800px;
}
/*#######################################################右边卡片开始###########################################*/
#card-top-blank{
    width: 100%;
    height:80px;
}
#card{
    padding: 10px;
    width: 100%;
    border:1px solid rgb(233, 233, 233);
    border-bottom: 1px solid #cccccc;
	display: none;
    /*box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px 1px;*/

}

#card-close{
    width: 100%;
    height: 40px;
    text-align: right;
}

#close-icon{
    font-family:"iconfont" !important;
    font-size:35px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #cccccc;
    cursor: pointer;

}
#card-img{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
#op-icon{
    font-family:"iconfont" !important;
    font-size:80px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #cccccc;
    color: #2e8ded;
}
#card-title{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
#card-b-desc{
    margin-top: 10px;
	font-size: 10px;
	text-align: center;
	color: #cc0c00;
}
.org-tips{
	color: #663366;
}
.org-context{
	color: #cc0c00;
}
#card-key{
	font-size: 10px;
}
#org-keyDiscipline{

}
#card-desc{
    margin-top: 10px;
}
#card-p{
    color: rgb(0, 0, 0);
    font-size: 13px;
    line-height: 21px;

}

#card-bottom-blank{
    width: 100%;
    height: 10px;
}
