html{
	margin:0px;
	font-size: 16px;
	font-size:100%;

}
body{
	margin:0px;
	/*background-color: rgb(223, 229, 233);*/


}
/* header */
#header{
	width: 100%;
	height: 4.5rem;
	background-color: black;
}
#header-content{
	width: 1200px;
	height: 4.5rem;
	margin: auto;
	background-color: black;
}
#logo-title{
	height: 4.5rem;
	float: left;
}
#logo{
	float: left;
	line-height: 4.5rem;
}

#sys-desc a{
	color: #FFFFCC;
	line-height: 4.5rem;

}
#sys-desc span a{
	font-size: 1.2rem;
	font-family: "SimHei", "STSong";
	font-weight: 900;
}
#sys-desc span a:hover{
	text-decoration: none;
}
/*  search  */
#search-main{
	background-color: #4694D1;
	width: 100%;
	height: 17rem;

}
#search{
	height: auto;
	width: 55rem;
	margin: auto;
  	margin-top: -10.5rem;

}
#input1{
	height: 3.00rem;
	width: 44rem;
	font-size: 1.0rem;

}
#button1{
	height: 3.00rem;
	width: 5.625rem;
	background-color: rgb(91, 192, 222);
	color: white;
	font-family: 'heiti-normal';
	font-size: 1.4rem;
}
.glyphicon-search::before{/*为了使搜索框前面的图标去掉*/
	content: "";
}
/*  main  */
#main{
	width: 100%;
	height: auto;
	line-height: 6rem;

}
#alert-container{
	width: 70% !important;
	margin: auto;

}
.alert-col{
	text-align: center;
	/*border-bottom: solid 0.2rem rgb(223, 229, 233);*/
	border-bottom: solid 0.2rem rgb(223, 229, 233);

}
.alert-title{
	width:13rem;
	margin: auto;
	height: 5rem;
	color: #52646c;
	font-size: 1.1rem;
	font-weight: 600;
}
.alert-title a{
	color: #52646c;
}
.alert-title a:hover{
	color: #4694D1 ;
	text-decoration: none;
}
.active-click{
	border-bottom: solid 0.2rem #4694D1;
}
.alert-title-data{
	font-size: 1.25rem;
}
/*表格开始*/
#datatables-content{
    width: 70%;
    margin: auto;
	padding-top: 1rem;
}
/*表格结束*/
.iconfont{
    font-family:"iconfont" !important;
    font-size:9.375rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(52, 147, 213);
}

.heiti-normal1{/*字体声明*/
    /*font-family:"heiti-normal" !important;*/
    font-size:1.875rem;font-style:normal;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(52, 147, 213);
}
