<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>互联网信息XX检查原型系统</title>
	<!--  css link -->
	<!-- 引入 Bootstrap -->
	<link href="/statics/achievement_display/css/font.css" rel="stylesheet">
    <link href="/statics/achievement_display/plugin/bootstrap/bootstrap3-3-0.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/statics/achievement_display/css/datatables_iframe.css">
	<!--  js  link -->
	<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
	<!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
　　<![endif]-->
	<script src="/statics/achievement_display/plugin/jquery/jquery2.0.0min.js"></script>
    <script src="/statics/achievement_display/plugin/bootstrap/bootstrap3.3.0.min.js"></script>


    <!-- datatable -->
    <link href="/statics/achievement_display/plugin/media/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="/statics/achievement_display/plugin/media/js/jquery.dataTables.js"></script>
    <script src="/statics/achievement_display/plugin/media/js/dataTables.bootstrap.js"></script>



</head>
<body>

    <div class="container">
        <table class=" table table-bordered  table-hover" id="table-content">
             <thead>
                 <tr>
                    <th>文档名称</th>
                    <th>处理时间</th>
                    <th>处理结果状态</th>
                    <th>告警数量</th>
                    <th>打分</th>
                 </tr>
            </thead>
            <tbody>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-success">无问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-danger">有问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-danger">有问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-success">无问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-success">无问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-success">无问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-success">无问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-danger">有问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-danger">有问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-danger">有问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-danger">有问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-danger">有问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-danger">有问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
                 <tr>
                    <td>3F2504E04F8911D3</td>
                    <td>2016-04-15 23:22:33</td>
                    <td><button type="button" class="btn btn-danger">有问题</button></td>
                    <td><span class="badge">3</span></td>
                    <td>78</td>
                 </tr>
            </tbody>
        </table>
    </div>



<!-- 测试  -->

    <!-- index.js -->
    <script src="/statics/achievement_display/js/datatables_iframe.js"></script>
    <script type="text/javascript">
      $(document).ready( function () {
            $('#table-content').DataTable({});


        } );


    </script>
</body>
</html>