<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ name }}</title>
<!-- 引入 Bootstrap -->
      <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
      <link href="/statics/achievement_display/css/font.css" rel="stylesheet">
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <script src="https://code.jquery.com/jquery.js"></script>
      <script type="text/javascript" src="/statics/achievement_display/js/force_open.js"></script>
      <link rel="stylesheet" type="text/css" href="/statics/achievement_display/css/force_open.css">
    <script>
         {% autoescape off %}
            var res_content = {{ res_content }};
            var id = "{{ id }}";
            var res_content_left = {{ res_content_left }};
         {% endautoescape %}
    </script>
</head>
<body>
<div id="main">
    <div class="container" id="container">
        <div class="row">
            <div class="col-lg-9" id="main-left">
                <div id = "demo1" ></div>
            </div>
            <div class="col-lg-3" id="main-right">
                <div id="card-top-blank"></div>
                <!-- card开始  -->
                 <div id="card">
                    <div id="card-close"><i id="close-icon" onclick="close_ele('card');">&#xe616;</i></div>
                    <div id="card-img"></div>
                    <div id="card-title"><span id="card-title-content"></span></div>
                    <div id="card-b-desc"></div>
                    <div id="card-desc"><p id="card-p"></p></div>
                    <div id="card-key"></div>
                    <div id="card-bottom-blank"></div>
                </div>
                <!-- card结束  -->
            </div>
        </div>
        <div id="more"></div>
    </div>
</div>

    <script src="/statics/achievement_display/plugin/echarts/build/dist/echarts.js"></script>
    <script type="text/javascript">
        //////////////////////////////
        //参数配置
        var node_link = generate_node(id, res_content, res_content_left);
        //////////////////////////////
        require.config({
            paths : {
                echarts : '/statics/achievement_display/plugin/echarts/build/dist/'
            }
        });
        require([ "echarts", "echarts/chart/force"], function(ec) {
            var nod = new Object();

            var myChart = ec.init(document.getElementById('demo1'), 'macarons');  //将变量为全局变量
            var option = {
                tooltip : {
                    show : false
                },
                name: "知识图谱",
                minRadius : 15,
                maxRadius : 25,
                density : 0.8,
                attractiveness: 0.8,
                gravity: 1,
                roam: true,
                steps: 1,

                legend: {
                    x: 'left',
                    selected:{'一级':true,'二级':true},
                    data:['一级','二级']
                },
                series : [ {
                    type : 'force',
                    name : "Force tree",

                    itemStyle: {

                        normal: {
                            label: {
                                show: true,
                                textStyle: {
                                    color: '#000',
                                    fontWeight: 900,
                                    align: "right",
                                    baseline: "top",
                                    fontSize: 14
                                }
                            },
                        nodeStyle : {
                            brushType : 'both',
                            strokeColor : 'rgba(255,215,0,0.4)',
                            lineWidth : 1
                        },
                        linkStyle:{
                            type:"curve",
                            width: 2.2
                         }

                        },emphasis:{
                            linkStyle : { strokeColor : '#5182AB'}
                        }
                    },
                    categories : [
                        {
                            name : '一级',
                            itemStyle: {
                                normal: {
                                color : '#87cdfa'
                                }
                            }
                        }, {
                            name : '二级',
                             itemStyle: {
                                normal: {
                                color : '#ff7f50'
                                }
                            }
                        }
                    ],
                     nodes : node_link['node'],
                     links : node_link['link']
                } ]
            };
            myChart.setOption(option);
            var ecConfig = require('echarts/config');
            function openOrFold(param) {
                var option = myChart.getOption();
                var nodesOption = option.series[0].nodes;
                var linksOption = option.series[0].links;
                var data = param.data;
                var linksNodes = [];

                var categoryLength = option.series[0].categories.length;

                //if (data.category == (categoryLength - 1)) {
                  //  alert(data.label);
                //}

                if (data != null && data != undefined) {
                    if (data.flag) {

                        for ( var m in linksOption) {

                            if (linksOption[m].target == data.id) {
                                linksNodes.push(linksOption[m].source);
                            }
                        }
                        if (linksNodes != null && linksNodes != undefined) {
                            for ( var p in linksNodes) {
                                nodesOption[linksNodes[p]].ignore = false;
                                nodesOption[linksNodes[p]].flag = true;
                            }
                        }
                        nodesOption[data.id].flag = false;
                        myChart.setOption(option);
                    } else {

                        for ( var m in linksOption) {

                            if (linksOption[m].target == data.id) {
                                linksNodes.push(linksOption[m].source);
                            }
                            if (linksNodes != null && linksNodes != undefined) {
                                for ( var n in linksNodes) {
                                    if (linksOption[m].target == linksNodes[n]) {
                                        linksNodes.push(linksOption[m].source);
                                    }
                                }
                            }
                        }
                        if (linksNodes != null && linksNodes != undefined) {
                            for ( var p in linksNodes) {
                                nodesOption[linksNodes[p]].ignore = true;
                                nodesOption[linksNodes[p]].flag = true;
                            }
                        }
                        nodesOption[data.id].flag = true;
                        myChart.setOption(option);
                    }
                }
            }
            myChart.on(ecConfig.EVENT.CLICK, openOrFold);
            /////////////////////////////////////////////////
            var show_info = function show_info(param) {
                var option = myChart.getOption();
                var nodesOption = option.series[0].nodes;
                var linksOption = option.series[0].links;
                var data = param.data;
                var linksNodes = [];
                var categoryLength = option.series[0].categories.length;
                if(data.label){
                    close_ele("card");
                    show_ele("card", data.name, res_content_left);
                }


               // if (data.category == (categoryLength - 1)) {
                    //alert(data.category);
               // }

            }
            myChart.on(ecConfig.EVENT.HOVER, show_info);
            ////////////////////////////////////////////////


        });


    </script>

</body>
</html>