<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>互联网信息XX检查原型系统</title>

    <script src="/statics/achievement_display/plugin/jquery/jquery2.0.0min.js"></script>
    <!-- highchart -->
    <link href="/statics/achievement_display/plugin/highchart/css/highchar.css" rel="stylesheet" type="text/css" />
    <script src="/statics/achievement_display/plugin/highchart/js/highcharts.js"></script>
    <script src="/statics/achievement_display/plugin/highchart/js/themes/grid.js"></script>
    <script src="/statics/achievement_display/plugin/layer/layer.js"></script>

    <!-- js 测试 -->
    <script>
        //文库采集信息
        var date_no_hour = {{ date_no_hour | default:'["2016-04-01"]' | safe }};
        var wenku_caiji_data = {{ wenku_caiji_data | default:'[0]' | safe }};
        var secret_check_alert = {{ secret_check_alert | default:'[0]' | safe }};
        var secret_check = {{ secret_check | default:'[0]' | safe }};
        var yx_check_alert = {{ yx_check_alert | default:'[0]' | safe }};
        var yx_check = {{ yx_check | default:'[0]' | safe }};

        //学术采集信息
        var date_no_hour_schoolar = {{ date_no_hour_schoolar | default:'["2016-04-01"]' | safe }};
        var wanfang = {{ wanfang | default:'[0]' | safe }};

    </script>

</head>
<body onload="loading()">

    <div id="{{ name }}" style="width: 600px; height: 240px;"></div>
<!-- 测试  -->

    <!-- index.js -->
    <script src="/statics/achievement_display/js/highchart.js"></script>

</body>
</html>