<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>互联网信息XX检查原型系统</title>

    <script src="/statics/achievement_display/plugin/jquery/jquery2.0.0min.js"></script>
    <!-- highchart -->
    <link href="/statics/achievement_display/plugin/highchart/css/highchar.css" rel="stylesheet" type="text/css" />
    <script src="/statics/achievement_display/plugin/highchart/js/highcharts.js"></script>
    <script src="/statics/achievement_display/plugin/highchart/js/themes/grid.js"></script>
    <script src="/statics/achievement_display/plugin/layer/layer.js"></script>

    <!-- js 测试 -->
    <script>
        //文库采集信息
        var date_no_hour = {{ date_no_hour | default:'["2016-04-01"]' | safe }};
        var wenku_caiji_data = {{ wenku_caiji_data | default:'[0]' | safe }};
        var secret_check_alert = {{ secret_check_alert | default:'[0]' | safe }};
        var secret_check = {{ secret_check | default:'[0]' | safe }};
        var yx_check_alert = {{ yx_check_alert | default:'[0]' | safe }};
        var yx_check = {{ yx_check | default:'[0]' | safe }};

        //学术采集信息
        var date_no_hour_schoolar = {{ date_no_hour_schoolar | default:'["2016-04-01"]' | safe }};
				// date_no_hour_schoolar = ["07-03", "07-04", "07-05", "07-06", "07-07", "07-08", "07-09"]
				console.log(date_no_hour_schoolar);
        var wanfang = {{ wanfang | default:'[0]' | safe }};
				wanfang = [2104254, 3224254, 4244254, 5264254, 6294254, 6314254, 6314254];
				console.log(wanfang);
        var acm = {{ acm | default:'[0]' | safe }};
				acm = [573257, 1573257, 1673257, 1773257, 2073257, 2573257, 2573257];
				console.log(acm);
        var ieee = {{ ieee | default:'[0]' | safe }};
				ieee = [573257, 673257, 773257, 873257, 1073257, 3389359, 3389359];
				console.log(ieee);
        var cnki = {{ cnki | default:'[0]' | safe }};
				cnki = [3104254, 7104254, 9104254, 10104254, 11030713, 11530713, 12030713]
				console.log(cnki);
        var springer = [1710980, 1711005, 1711109, 1711269, 1711389, 1711469, 1711569]
                
        var elsevier = [409098, 600011, 798736, 898736, 982738, 1012345, 1132716]
                

        //百科数据采集
        var date_no_hour_baike = {{ date_no_hour_baike | default:'["2016-04-01"]' | safe }};
        var baike1 = {{ baike | default:'[0]' | safe }};
        baike1 = [6039001, 8439200, 10039400, 12739651, 13039700, 13239732, 13339998];
        var baidubaike = {{ baidubaike | default:'[0]' | safe }};
        baidubaike = [710732, 928271, 1029384, 1230987, 1429009, 1527289, 1611532];

        //linkedIn数据采集
        var date_no_hour_homepage = {{ date_no_hour_homepage | default:'["2016-04-01"]' | safe }};
        var linkedin = {{ homepage | default:'[0]' | safe }};

        //暗网数据采集
        var date_no_hour_anwang = {{ date_no_hour_anwang | default:'["2016-04-01"]' | safe }};
        var anwang1 = {{ anwang | default:'[0]' | safe }};

    </script>

</head>
<body onload="loading()">

    <div id="{{ name }}" style="width: 600px; height: 240px;"></div>
<!-- 测试  -->

    <!-- index.js -->
    <script src="/statics/achievement_display/js/highchart.js"></script>

</body>
</html>
