<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询结果</title>
    <!-- 引入 Bootstrap -->
	<link href="/statics/achievement_display/css/font.css" rel="stylesheet">
    <link href="/statics/achievement_display/plugin/bootstrap/bootstrap3-3-0.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/statics/achievement_display/css/search.css">
	<!--  js  link -->
	<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
	<!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
　　<![endif]-->
	<script src="/statics/achievement_display/plugin/jquery/jquery2.0.0min.js"></script>
    <script src="/statics/achievement_display/plugin/bootstrap/bootstrap3.3.0.min.js"></script>
    <!-- laypage -->
    <script src="/statics/achievement_display/plugin/laypage/laypage.js"></script>
</head>
<body>
	<!--   div header -->
	<div id="header">
		<nav class="navbar navbar-default navbar-fixed-top" id="nav-wrap" role="navigation">
           <div class="navbar-header">
              <a class="navbar-brand" href="#"><img src="/statics/achievement_display/img/logo-red.png" alt=""></a>
{#               <a class="navbar-brand" href="#">IIXXIPS</a>#}
           </div>
           <div>
               <form role="form" class="form-inline navbar-form navbar-left" method="get" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" id="input1" name="keyvalue" value="{{ input_value }}"/>
                        <span class="input-group-btn">
                            <input type="submit" class="btn" name="submit" id="button1" value="搜索">
                        </span>
                        {% csrf_token %}
                    </div>
			    </form>
           </div>
        </nav>
	</div>

    <!--   div search-content -->
    <div id="main">

        <div class="container-fluid" id="main-contain">
            <div id="search-review">为您找到相关结果约{{ total }}个,用时{{ time }}ms</div>
            <div class="col-lg-2" id="main-condition">
                <div class="panel panel-info">
                   <div class="panel-heading">项目年份</div>
                   <ul class="list-group">
                      <li class="list-group-item">近一年</li>
                      <li class="list-group-item">近三年</li>
                      <li class="list-group-item">近五年</li>
                      <li class="list-group-item">近十年</li>
                      <li class="list-group-item">近二十年</li>
                   </ul>
                </div>
                <div class="panel panel-info">
                   <div class="panel-heading">机构级别</div>
                   <ul class="list-group">
                      <li class="list-group-item">省部级</li>
                      <li class="list-group-item">部委级</li>
                      <li class="list-group-item">高校</li>
                   </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" id="main-left">
                    <div id="s-c-all">
                    {% for value in content %}
                        <div class="search-content">
                             <div class="s-t"><a href="">{{ value.name }}</a></div>
                             {% ifequal value.judge_type 'organization' %}
                                <div class="s-c">{{ value.description }}</div>
                                 {% if not value.description %}
                                     <div class="s-c">{{ value.tradeField }}</div>
                                 {% endif %}
                             {%else %}
                                 {% load new_filter %}
                                 <div class="s-c"><font color="red"> 所属机构:</font>{{ value.worksFor | workfor }}</div>
                             {% endifequal %}

{#                             <div class="s-s"><a href="">{{ value.judge_type }}</a></div>#}
                        </div>
                    {% endfor %}
                    </div>
                <div id="page"></div>
                <div id="page1">ss</div>
                </div>




                <div class="col-lg-3" id="main-right">
                    <div class="container-fluid" id="rel">
                        <div class="row">
                            <div class="col-lg-12" >
                                <div class="rel-title" ><span>&nbsp;&nbsp;&nbsp;&nbsp;相关人物</span></div>
                                <div class="rel-content">
                                     <ul id="sameNameDiv" style="" class="same_ul">
                                           <li>
                                               <span class="space_2" title="哈尔滨工业大学">哈尔滨工业大学</span>
                                               <a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=dxkx201307008&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="中国科学院计算技术研究所">中国科学院计算技术研究所</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=txxb200902017&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="北京邮电大学">北京邮电大学</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=gjjyxzxyxb200904001&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="信息产业部">信息产业部</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=xxwlaq200705004&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="中国工程院">中国工程院</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=jcjs201403003&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="中国科学院研究生院">中国科学院研究生院</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=xxwxjsjxt200604016&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="国防科学技术大学">国防科学技术大学</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=zgsyhhg201312028&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="国家计算机网络应急技术处理协调中心">国家计算机网络应急技术处理协调中心</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=zgsjtx200610033&amp;f=samename">方滨兴</a>
                                           </li>
                                     </ul>
                                </div>

                                <div class="rel-title" ><span>&nbsp;&nbsp;&nbsp;&nbsp;相关机构</span></div>
                                <div class="rel-content">
                                     <ul id="sameNameDiv" style="" class="same_ul">
                                           <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>
                                            <li>
                                               <a class="org" href="">信息产业部</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">信息产业部</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">信息产业部</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">信息产业部</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>

                                     </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/statics/achievement_display/js/search.js"></script>
    <script>
            //测试参数
        function demo(curr, key){
            var  keyvalue = key
            $.getJSON('/ajax_page', {
                page: curr || 1 ,//向服务端传的参数，此处只是演示
                keyvalue: key

            }, function(res){
                //此处仅仅是为了演示变化的内容1
                source = res.result_content;
                str = "";
                for(i=0;i<source.length;i++){
                    str += '<div class="search-content"><div class="s-t"><a href="">'+ source[i]._source.name +'</a></div>';
                    if(!source[i]._source.worksFor){
                        if(!source[i].description) {
                            str += '<div class="s-c">' + source[i]._source.description + '</div>';
                        }else{
                            if(!source[i]._source.tradeField){
                                str += '<div class="s-c">' + source[i]._source.tradeField + '</div>';
                            }else{
                                str += '<div class="s-c">暂无相关信息</div>';
                            }
                        }
                    }else if(source[i].worksFor){
                            str += '<div class="s-c"><font color="red"> 所属机构:</font>' + source[i]._source.worksFor + '</div>';
                    }
                    str += '</div>';
                }

                document.getElementById('s-c-all').innerHTML =  str ;

                //显示分页
                laypage({
                    cont: 'page1', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                    pages: res.total , //通过后台拿到的总页数
                    hash: 'fenye', //自定义hash值


                    curr: curr || 1, //当前页
                    keyvalue : "{{ input_value }}",
                    jump: function(obj, first){ //触发分页后的回调
                        if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                            demo(obj.curr, keyvalue);
                        }
                    }
                });
            });
        };
//运行
demo(1, "{{ input_value }}");
    </script>

</body>
</html>