<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询结果</title>
    <!-- 引入 Bootstrap -->
	<link href="/statics/achievement_display/css/font.css" rel="stylesheet">
    <link href="/statics/achievement_display/plugin/bootstrap/bootstrap3-3-0.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/statics/achievement_display/css/search.css">
	<!--  js  link -->
	<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
	<!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
　　<![endif]-->
	<script src="/statics/achievement_display/plugin/jquery/jquery2.0.0min.js"></script>
    <script src="/statics/achievement_display/plugin/bootstrap/bootstrap3.3.0.min.js"></script>
</head>
<body>
	<!--   div header -->
	<div id="header">
		<nav class="navbar navbar-default navbar-fixed-top" id="nav-wrap" role="navigation">
           <div class="navbar-header">
              <a class="navbar-brand" href="#"><img src="/statics/achievement_display/img/logo-red.png" alt=""></a>
{#               <a class="navbar-brand" href="#">IIXXIPS</a>#}
           </div>
           <div>
               <form role="form" class="form-inline navbar-form navbar-left" method="post" action="http://blog.chiao.me">
                    <div class="input-group">
                        <input type="text" class="form-control" id="input1" placeholder="" />
                        <span class="input-group-btn">
                            <input type="submit" class="btn" name="submit" id="button1" value="搜索">
                        </span>
                    </div>
			    </form>
           </div>
        </nav>
	</div>

{#    <!--   div search -->#}
{#    <div class="app-usagovsearch result-container">#}
{#        <div class="tab-content">#}
{#            <div class="tab-pane result-area active" id="home">#}
{#                <ul class="list-unstyled">#}
{#                    <li>#}
{#                        <a target="_blank" href="http://kbn.ky.gov/knar/Pages/testscores.aspx">#}
{#                            <span class="highlight">Test</span> Scores - <span class="highlight">Kentucky</span>#}
{#                        </a>#}
{#                        <cite class="siteUrl">http://kbn.ky.gov/knar/Pages/testscores.aspx</cite>#}
{#                        <p>#}
{#                            You should receive your <span class="highlight">test</span> results within 30 days from when you completed your <span class="highlight">test</span>. <span class="highlight">Test</span>  days have ...#}
{#                        </p>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a target="_blank" href="http://kbn.ky.gov/knar/Pages/testscores.aspx">#}
{#                            <span class="highlight">Test</span> Scores - <span class="highlight">Kentucky</span>#}
{#                        </a>#}
{#                        <cite class="siteUrl">http://kbn.ky.gov/knar/Pages/testscores.aspx</cite>#}
{#                        <p>#}
{#                            You should receive your <span class="highlight">test</span> results within 30 days from when you completed your <span class="highlight">test</span>. <span class="highlight">Test</span>  days have ...#}
{#                        </p>#}
{#                    </li>#}
{##}
{#              </ul>#}
{#          </div>#}
{#        </div>#}
{#    </div>#}
    <!--   div search-content -->
    <div id="main">
{#        <div id="main-left" class="container">#}
{#            <div class="search-content">#}
{#                <h3 class="s-t">农业部农业信息技术重点实验室</h3>#}
{#                <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>#}
{#                <div class="s-s">http://192.168.120.90:9200/_plugin/head/</div>#}
{#            </div>#}
{#        </div>#}
{#        <div id="main-right"></div>#}

        <div class="container-fluid" id="main-contain">
            <div id="search-review">为您找到相关结果约93,500,000个,用时0.001s</div>
            <div class="row">
                <div class="col-lg-7" id="main-left">
                     <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                    <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                    <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                    <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                    <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                    <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                    <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                    <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                    <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                    <div class="search-content">
                         <div class="s-t"><a href="">农业部农业信息技术重点实验室</a></div>
                         <div class="s-c">该室的前身是成立于1983年的中国农业科学院资源区划所遥感室。实验室于2002年被农业部批准成立。实验室以农业遥感的理论</div>
                         <div class="s-s"><a href="">http://192.168.120.90:9200/_plugin/head/</a></div>
                     </div>
                </div>



                <div class="col-lg-4" id="main-right">
                    <div class="container-fluid" id="rel">
                        <div class="row">
                            <div class="col-lg-8" >
                                <div class="rel-title" ><span>&nbsp;&nbsp;&nbsp;&nbsp;相关人物</span></div>
                                <div class="rel-content">
                                     <ul id="sameNameDiv" style="" class="same_ul">
                                           <li>
                                               <span class="space_2" title="哈尔滨工业大学">哈尔滨工业大学</span>
                                               <a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=dxkx201307008&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="中国科学院计算技术研究所">中国科学院计算技术研究所</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=txxb200902017&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="北京邮电大学">北京邮电大学</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=gjjyxzxyxb200904001&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="信息产业部">信息产业部</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=xxwlaq200705004&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="中国工程院">中国工程院</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=jcjs201403003&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="中国科学院研究生院">中国科学院研究生院</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=xxwxjsjxt200604016&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="国防科学技术大学">国防科学技术大学</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=zgsyhhg201312028&amp;f=samename">方滨兴</a>
                                           </li>

                                           <li><span class="space_2" title="国家计算机网络应急技术处理协调中心">国家计算机网络应急技术处理协调中心</span><a namecard="true" href="/Auto/Achievement.aspx?name=%e6%96%b9%e6%bb%a8%e5%85%b4&amp;articleId=zgsjtx200610033&amp;f=samename">方滨兴</a>
                                           </li>
                                     </ul>
                                </div>

                                <div class="rel-title" ><span>&nbsp;&nbsp;&nbsp;&nbsp;相关机构</span></div>
                                <div class="rel-content">
                                     <ul id="sameNameDiv" style="" class="same_ul">
                                           <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>
                                            <li>
                                               <a class="org" href="">信息产业部</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">信息产业部</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">信息产业部</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">信息产业部</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>
                                          <li>
                                               <a class="org" href="">哈尔滨工业大学</a>
                                           </li>

                                     </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>