<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询结果</title>
    <!-- 引入 Bootstrap -->
	<link href="/statics/achievement_display/css/font.css" rel="stylesheet">
    <link href="/statics/achievement_display/plugin/bootstrap/bootstrap3-3-0.min.css" rel="stylesheet">

	<!--  js  link -->
	<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
	<!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
　　<![endif]-->
	<script src="/statics/achievement_display/plugin/jquery/jquery2.0.0min.js"></script>
    <script src="/statics/achievement_display/plugin/bootstrap/bootstrap3.3.0.min.js"></script>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>-->
    <!-- laypage -->
    <script src="/statics/achievement_display/plugin/laypage/laypage.js"></script>
    <link rel="stylesheet" type="text/css" href="/statics/achievement_display/css/search.css">
    <!-- 标签云 -->
    <script src="/statics/achievement_display/plugin/jqcloud/jqcloud.min.js"></script>
    <link rel="stylesheet" href="/statics/achievement_display/plugin/jqcloud/jqcloud.min.css">
</head>
<body>
	<!--   div header -->
	<div id="header">
		<nav class="navbar navbar-default navbar-fixed-top" id="nav-wrap" role="navigation">
           <div class="navbar-header">
              <a class="navbar-brand" href="#"><img src="/statics/achievement_display/img/logo-red.png" alt=""></a>
{#               <a class="navbar-brand" href="#">IIXXIPS</a>#}
           </div>
           <div>
               <form role="form" class="form-inline navbar-form navbar-left" method="get" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" id="input1" name="keyvalue" value="{{ input_value }}"/>
                        <span class="input-group-btn">
                            <input type="submit" class="btn" name="submit" id="button1" value="搜索">
                        </span>
                        {% csrf_token %}
                    </div>
			    </form>
           </div>
        </nav>
	</div>

    <!--   div search-content -->
    <div id="main">

        <div class="container-fluid" id="main-contain">
            <div id="search-review">为您找到相关结果约{{ total }}个,用时{{ time }}ms</div>

            <div class="row">
                <div class="col-lg-2" id="main-condition">
                    <div id="con_blank"></div>
                    <div class="panel panel-info condition-panel" >
                       <div class="panel-heading condition-heading">论文类型</div>
                       <ul class="list-group condition-ul" >
                          <li class="list-group-item condition-li">
                              <span class="con-li-span">202030篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;期刊论文</a>
                          </li>
                          <li class="list-group-item condition-li" >
                              <span class="con-li-span">8130篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;学位论文</a>
                          </li>
                          <li class="list-group-item condition-li">
                              <span class="con-li-span">9022篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;会议论文</a>
                          </li>
                          <li class="list-group-item condition-li">
                              <span class="con-li-span">8765篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;外文期刊</a>
                          </li>
                          <li class="list-group-item condition-li">
                              <span class="con-li-span">666篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;外文会议</a>
                          </li>
                       </ul>
                    </div>


                    <div class="panel panel-info condition-panel" >
                       <div class="panel-heading condition-heading">论文年份</div>
                       <ul class="list-group condition-ul" >
                          <li class="list-group-item condition-li">
                              <span class="con-li-span">202030篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;近一年</a>
                          </li>
                          <li class="list-group-item condition-li" >
                              <span class="con-li-span">8130篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;近两年</a>
                          </li>
                          <li class="list-group-item condition-li">
                              <span class="con-li-span">9022篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;近三年</a>
                          </li>
                          <li class="list-group-item condition-li">
                              <span class="con-li-span">8765篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;近四年</a>
                          </li>
                          <li class="list-group-item condition-li">
                              <span class="con-li-span">666篇</span>
                              <a href="#" class="con-li-a">&gt;&nbsp;近五年</a>
                          </li>
                       </ul>
                    </div>
                </div>
                <div class="col-lg-7" id="main-left">
                    <div id="s-c-all">
                    {% for value in content %}
                        <div class="search-content">
                             <div class="s-t"><a href="">{{ value.name }}</a></div>
                             {% ifequal value.judge_type 'organization' %}
                                <div class="s-c">{{ value.description }}</div>
                                 {% if not value.description %}
                                     <div class="s-c">{{ value.tradeField }}</div>
                                 {% endif %}
                             {%else %}
                                 {% load new_filter %}
                                 <div class="s-c"><font color="red"> 所属机构:</font>{{ value.worksFor | workfor }}</div>
                             {% endifequal %}

{#                             <div class="s-s"><a href="">{{ value.judge_type }}</a></div>#}
                        </div>
                    {% endfor %}
                    </div>
                     <div id="page1"></div>
                </div>

                <div class="col-lg-3" id="main-right">
                    <div class="container-fluid" id="rel">
                        <div class="row">
                            <div class="col-lg-12" >
                                <!-- card开始  -->
                                <div id="card">
                                    <div id="card-close"><i id="close-icon" onclick="close_ele('card');">&#xe616;</i></div>
                                    <div id="card-img"><i id="op-icon" >&#xe617;</i></div>
                                    <div id="card-title"><span id="card-title-content">复旦大学软件工程实验室</span></div>
                                    <div id="card-desc">
                                        <p id="card-p">
                                            该室是教育部软件科学与技术网上合作研究中心的成员单位，成立于1989年，长期从事软件工程方法、理论、工具与开发环境以及软件工程技术产业化应用等方面的研究和实践工作。实验室研究领域包括自适应软件、软件维护与再工程
                                        </p>
                                    </div>
                                    <div id="card-bottom-blank"></div>
                                </div>
                                <!-- card结束  -->
                                <div id="rel-crap">
                                    <div class="rel-title" ><span>&nbsp;&nbsp;&nbsp;&nbsp;相关人物&机构</span></div>
                                    <div class="rel-content" id="rel-content"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/statics/achievement_display/js/search.js"></script>
    <script>
            //测试参数
        function demo(curr, key){
            var  keyvalue = key
            $.getJSON('/ajax_page', {
                page: curr || 1 ,//向服务端传的参数，此处只是演示
                keyvalue: key

            }, function(res){
                //此处仅仅是为了演示变化的内容1
                source = res.result_content;
                str = "";
                for(i=0;i<source.length;i++){
                    str += '<div class="search-content"><div class="s-t"><a href="">'+ source[i]._source.name +'</a></div>';
                    if(!source[i]._source.worksFor){
                        if(!source[i].description) {
                            str += '<div class="s-c">' + source[i]._source.description + '</div>';
                        }else{
                            if(!source[i]._source.tradeField){
                                str += '<div class="s-c">' + source[i]._source.tradeField + '</div>';
                            }else{
                                str += '<div class="s-c">暂无相关信息</div>';
                            }
                        }
                    }else if(source[i].worksFor){
                            str += '<div class="s-c"><font color="red"> 所属机构:</font>' + source[i]._source.worksFor + '</div>';
                    }
                    str += '</div>';
                }

                document.getElementById('s-c-all').innerHTML =  str ;

                //显示分页
                laypage({
                    cont: 'page1', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                    pages: res.total , //通过后台拿到的总页数
                    hash: 'fenye', //自定义hash值


                    curr: curr || 1, //当前页
                    keyvalue : "{{ input_value }}",
                    jump: function(obj, first){ //触发分页后的回调
                        if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr

                            demo(obj.curr, keyvalue);
                            window.location.href = "#";
                        }
                    }
                });
            });
        };
//运行
demo(1, "{{ input_value }}");

        //////////////////////标签云开始

    </script>

</body>
</html>